@font-face {
    font-family: EuroStileRegObl;
    src: url("../assets/fonts/Eurostile-Regular Oblique.otf");
    font-display: swap;
}

@font-face {
    font-family: EuroStileHeaIta;
    src: url("../assets/fonts/Eurostile-HeaIta.otf");
    font-display: swap;
}

@font-face {
    font-family: EuroStileBlaIta;
    src: url("../assets/fonts/EuroStileBlaIta.otf");
    font-display: swap;
}
